<!--<div class="cart-count-container" on-tap="toggleMenu('right')">-->
  <!--<i class="icon hvst-cart-3"></i>-->
  <!--<div class="cart-count" ng-class="{'cart-empty': itemsCount() === 0}">2</div>-->
<!--</div>-->

<!-- <div class="text-center">
  <button ion-button icon-left color="energized" side="lg" class="button-large review-and-checkout-btn" [disabled]>
    <i class="icon hvst-cart-5"></i>
    Proceed to Checkout
  </button>
</div> -->

<!-- <div class="item-count">
  <i class="icon hvst-cart-3"></i> -->
  <!--<span><b>-->
            <!--<ng-pluralize count="itemsCount()"-->
                          <!--when="{-->
                        <!--'0': 'No Items',-->
                        <!--'one': '1 Item',-->
                         <!--'other': '{} Items'-->
                        <!--}"></ng-pluralize></b> in Order</span>-->
  <!-- <b>No items</b> in Order
</div> -->

<in-progress></in-progress>

<!-- <ion-list class="cart-list-container" ng-class="{'no-items': cart.items.length === 0}" padding no-border> -->
  <!-- <ion-item class="cart-item" ng-repeat="item in cart.items track by item.id" toggle-class="menu-opened"> -->
    
    <!-- <div class="row item-info">
      <div class="col col-20"><img src="assets/img/food/avocado_haas.jpg" width="64" height="64" class="clip-circle"></div>
      <div class="col col-60">
        <h3>Avocado</h3>
        <span>Qty: <b class="underline">2</b></span>
        <div class="options-txt nowrap-dots">Options: Hass, Ripe, 36-48, ct Case</div>
      </div>
      <div class="col col-20" ng-class="{'large-price': (item.qty * item.live_unit_price) > 1000}"><h3>82.24</h3></div>
    </div> -->

    <!-- <ion-option class="button-info button-item-delete" on-tap="cart.removeItemFromCart(item)">
      <i class="icon ion-trash-b"></i>
    </ion-option> -->

    <!--<div class="row qty-spacer">-->
      <!--<div class="col-20"></div>-->
      <!--<div class="col-80">-->
        <!--<div class="qty-selector">-->
          <!--<div class="qty-display">4</div>-->
          <!--<button class="button minus icon hvst-minus" on-tap="cart.decrementItemQty(item)" ng-disabled="item.qty <= 1"></button>&lt;!&ndash;-->
                              <!--&ndash;&gt;<button class="button plus icon hvst-plus" on-tap="cart.incrementItemQty(item)"></button>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="col">-->
        <!--<button class="button button-clear ion-close remove-from-cart" on-tap="cart.removeItemFromCart(item)">Remove from Cart</button>-->
      <!--</div>-->
    <!--</div>-->
  <!-- </ion-item>
</ion-list> -->

<!--<div class="close-button transition-pulse" on-tap="toggleMenu('right')">-->
  <!--<i class="icon ion-arrow-left-b "></i>-->
<!--</div>-->
