<div class="row">
  <div class="col col-center headline text-center">
    <h1 class="icon icon-left hvst-sun">Welcome back to Harvest!</h1>
    <h3>Here's some common tasks, listed for your convenience.</h3>
  </div>
</div>
<div class="row welcome-options text-center">
  <div class="col col-33 welcome-savings">
    <div class="row">
      <div class="col">
        <h4>EFFICIENCY AT A GLANCE</h4>
      </div>
    </div>
    <div class="row">
      <div class="col savings-estimate">
        <div class="metrics">
          <div class="metrics--counter">
            <span class="metrics--sign">$</span>
            <span class="metrics--value" count-up>1670</span>
            <span class="metrics--value metrics--value_sub" count-up>25</span>
          </div>

          <span class="metrics--info">Monthly Savings Estimate</span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col savings-percent">
        <div class="metrics">
          <div class="metrics--counter">
            <span class="metrics--sign metrics--sign_bottom">
              <i class="icon hvst-arrow-up"></i>
            </span>
            <span class="metrics--value" count-up decimals="2">21.25</span>
            <span class="metrics--sign">%</span>
          </div>

          <span class="metrics--info">Saved This Week</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col col-33 welcome-order">
    <cart-latest-overview></cart-latest-overview>
  </div>
  <div class="col col-33 welcome-deliveries">
    <h4>TODAY'S DELIVERIES</h4>
    <!--<welcome-deliveries></welcome-deliveries>-->
    No data on this section
  </div>
</div>
