user-auth {
  .auth {
    &--header {
      display: flex;
      align-items: center;
      flex-flow: row;
      flex-wrap: nowrap;
      margin-top: 20px;
      margin-bottom: 60px;
    }

    &--title {
      .box--title {
        margin: 0 !important;
      }

      width: 100%;
    }

    &--actions {
      display: flex;
      flex-flow: row;
      flex-wrap: nowrap;
      text-align: right;
    }
  }

  .workspace {
    &_pincode {
      .box{
        &--title {
          margin: 10px 0 60px;
        }
      }
    }
  }

  .container {
    &--viewport {
      height: 50vh;
      max-width: 90%;
      margin: 40px auto 20px;
      border: 1px solid darken(map_get($colors, "light"), 50%);
      border-radius: 3px;

      ion-scroll {
        display: block;
        height: 50vh;

        .scroll-content {
          display: block;
          padding: 1.5em;
          height: 100%;
        }

        .scroll-zoom-wrapper {
          display: block;
          height: 100%;
        }

        ion-list {
          display: block;
        }
      }
    }
  }

  .user {
    //display: block;
    padding: .5em 1em;

    &_selected {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      margin-top: -50px;
      margin-bottom: 10px;
      padding: 0;

      .user {
        &--avatar {
          margin-right: 0 !important;
          border: 5px solid #fff;
          border-radius: 50%;
          margin-bottom: 10px;

          img {
            width: 100px;
            height: 100px;
            border: 5px solid #cccccc;
            border-radius: 50%;
          }
        }

        &--name {
          font-size: 1.5em;
          color: map_get($colors, "stable-dark");
          text-align: center;
        }

        &--position {
          font-size: 1.2em;
          color: lighten(map_get($colors, "stable-dark"), 15%);
        }
      }
    }

    &--avatar {
      display: block;
      margin-right: 20px !important;
      overflow: hidden;

      img {
        width: 64px;
        height: 64px;
        border: 6px solid #cccccc;
        border-radius: 50px;
      }
    }

    &--name {
      font-size: 1.5em;
      color: map_get($colors, "stable-dark");
    }

    &--position {
      font-size: 0.8em;
      color: lighten(map_get($colors, "stable-dark"), 15%);
    }

    & + .user {
      margin-top: 1em;
    }
  }
}
